charset-normalizer==2.0.12
docopt==0.6.2
idna==3.3
numpy==1.21.6
opencv-contrib-python==4.5.5.64
Pillow==9.1.1
pipreqs==0.4.11
qrtools==0.0.2
requests==2.28.0
tk==0.1.0
urllib3==1.26.9
wincertstore==0.2
yarg==0.1.9
